
      .ocenjivanje{
        display: flex;
        margin-left: none;
        
        }
        
        .ocenjivanje li {
        list-style-type: none
        }
        
        .ocenjivanje-item {
        cursor: pointer;
        font-size:3em;
        color: #C0424E;
        
        }


        /* The ::before selector inserts something before the content of each selected element(s). */
        .ocenjivanje-item::before {
        content: "\2605";
        /* OVO SU IKONICE ZVEZDA */
        }
        
        /* Selects every <ul> element that are preceded by a <p> element */
        /* make until the clicked star (the rest) empty */
        .ocenjivanje-item.active ~ .ocenjivanje-item::before {
        content: "\2606";
        
        }


        /* .zvezdicaDiv{
            margin-left: 320px;
        } */

        .zvezda{
          text-align: center;
          margin-left: 5px;
        }